<!DOCTYPE html>
<html>
    <head>
        
       
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> use this site to get weather</p>
            <form>
                <input placeholder="location">
                <button>search</button>
            </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        {{>footer}}
        </div>
        
       
         <script src="\jjj\app.js"></script>
    </body>
</html>
